//Cores

	$preto: #2A3333;
	$branco: #FFFFFF;

	$cor-fundo: #FFF;

	$cor-destaque: #467de8;
	$cor-contraste: #FFFFFF;

	$cor-header: rgba(0, 0, 0, 0.90);
	$cor-header-contraste: $branco;

	$cor-barras: rgba(63, 74, 82, 0.15);

	$cor-menu: $cor-destaque;
	$cor-menu-contraste: $cor-contraste;

	$cor-rodape: $cor-destaque;
	$cor-rodape_contraste: $cor-contraste;

	$cor-p: $preto;
	$cor-h: $preto;

//Bootstrap

	$background-color: $cor-fundo;
